//paleta de colores
$button-suscription: #729e2e;
$color-text: #171717;
$box-html: #E93E30;
$box-javascript: #F7E018;
$box-css: #299ED5;
$box-react: #67C770;
$box-vue: #292C33;
$box-bootstrap: #563D7C;

//tipografia
$primary-font: "Poppins", sans-serif;
$primary-weight: 700;
$secundary-weight: 400;
$primary-size: 24px;
$secundary-size: 20px;
$third-size: 16px;
$four-size: 36px;
