.navBar{
    display: flex;
    height: 130px;
    align-items: center;
        
    &__logo{
        width: 55px;
        height: 55px;
        margin-top: 38px;
        margin-left: 109px;
        border-radius: 10px;
    }
    &__text{
        font-family: $primary-font;
        font-weight: $primary-weight;
        font-size: $primary-size;
        margin-left: 21px;;   
        margin-top: 65px; 
    }   
  }
